body{
    background-color: #ecf0f3;
    text-align: center;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    
    
}
h1{
    color:#373c46;
}
p{
    color:#aeb1b6;
}
button{
    color:#f2e6fc;
    background-color:#7f56da;
}
.password{
    width:30%;
}
.form *{
    margin-top:3%;
    
}
.form > input{
    border-color: #aeb1b6;
    padding-right:30%;
    padding-top:2%;
    padding-bottom: 2%;
    font-size: medium;
    border-radius: 5px;

}
button{
    
    padding-left:31%;
    padding-right:31%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    border:none;
    border-radius: 5px;
}
